<?xml version="1.0"?>
<RootMenu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Config IdPrefix="mnuCmd" VarPrefix="sampleMenu" UseNumbering="true" IncludeNumberHierarchy="false" MaxNameLen="15" MenuBackFirstItem="false" BackText="Back" ExitText="Exit" AvrProgMem="true"/>
  <MenuItems>
    <Item Id="SetDateTime" Name="SET DATE TIME">
      <MenuItems>
        <Item Id="SetDate" Name="SET DATE"/>
        <Item Id="SetMonth" Name="SET MONTH"/>
        <Item Id="SetYear" Name="SET YEAR"/>
        <Item Id="SetHour" Name="SET HRS"/>
        <Item Id="SetMin" Name="SET MINS"/>
      </MenuItems>
    </Item>
    <Item Id="Timer1Set" Name="TIMR1 SETTING">
      <MenuItems>
        <Item Id="OnTime" Name="ON TIME">
          <MenuItems>
            <Item Id="t1onHour" Name="SET HRS"/>
            <Item Id="t1onMin" Name="SET MINS"/>
          </MenuItems>
        </Item>
        <Item Id="OffTime" Name="OFF TIME">
          <MenuItems>
            <Item Id="t1offHour" Name="SET HRS"/>
            <Item Id="t1offMin" Name="SET MINS"/>
          </MenuItems>
        </Item>
      </MenuItems>
    </Item>
  </MenuItems>
</RootMenu>
